<div class="wrap">
  <div class="card-container">
    @if(card()) {
    <button class="content" (click)="onClick()" [class.flipped]="!showSideA">
      <div class="card front" [class.maybe]="card()?.answer === Reply.MAYBE" [class.no]="card()?.answer === Reply.NO"
        [class.yes]="card()?.answer === Reply.YES">
        <p>{{ card()?.sideA }}</p>
      </div>
      <div class="card back">
        <p>{{ card()?.sideB }}</p>
      </div>
    </button>
    } @else {
    <div class="card-done">
    </div>
    }
  </div>
</div>