.wrap {
  position: relative;
  height: 200px;
}

.card-container {
  position: absolute;
  margin-left: var(--spacing-xl);
  margin-right: var(--spacing-xl);
  width: calc(100% - 30px);
  height: 200px;
  perspective: 5000px;
  z-index: 100;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 300ms;
  transform-style: preserve-3d;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card-done {
  text-align: center;
  height: 100%;
  line-height: 200px;
  background: #E6E6E6;
  box-shadow: 0px 0px 0px 2px #515151;

}

.flipped {
  transform: rotateY(180deg);
}

.card {
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  position: absolute;
  backface-visibility: hidden;
  background: #F3F3F3;
  border-radius: var(--radius);
  box-shadow: inset 0px 0px 0px 2px #515151;
}

.yes {
  box-shadow: inset 0px 0px 0px 6px var(--yes), 0px 0px 0px 4px #515151;
}

.maybe {
  box-shadow: inset 0px 0px 0px 6px var(--maybe), 0px 0px 0px 4px #515151;
}

.no {
  box-shadow: inset 0px 0px 0px 6px var(--no), 0px 0px 0px 4px #515151;

}

.replyIsNo {
  background: var(--no);
}

.card p {
  margin: 0px;
  font-size: 2em;
}

.card span {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  line-height: 100%;
  display: inline-flex;
}

.card-done p {
  margin: 0px;
  font-size: 1.5em;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.front {
  transform: rotateY(0deg);
}

.front::before {
  content: "A";
  position: absolute;
  left: 0px;
  font-size: 1.3em;
  top: 0px;
  background: #515151;
  color: #FFF;
  padding: var(--spacing-xl);
  height: 0px;
  line-height: 0px;
  font-weight: 600;
}

.back {
  transform: rotateY(180deg);
}

.back::before {
  content: "B";
  position: absolute;
  left: 0px;
  font-size: 1.3em;
  top: 0px;
  background: #515151;
  color: #FFF;
  padding: var(--spacing-xl);
  height: 0px;
  line-height: 0px;
  font-weight: 600;
}