dialog {
    width: 100%;
    height: 100%;
    z-index: 900;
    padding: 0;
    margin: 0;
    border: none;
    top: 0;
    backdrop-filter: blur(5px);
    background: none;
}

.list-wrapper {
    position: relative;
    margin: 0px auto;
    max-width: 500px;
    top: 10vh;
    height: 100vh;
    overflow-y: scroll;
}

dialog ul {
    list-style-type: none;
    padding: 0px;
    margin: var(--spacing-xl);
    display: grid;
    gap: var(--spacing-xl);
}

dialog ul li {
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-xl);
    letter-spacing: -0.125rem;
    padding: var(--spacing-xl);
    background: var(--main-color);
    box-shadow: inset 0px -1px 0px 2px #000;
    border-radius: var(--heavy-radius);
    display: grid;
    grid-template-columns: 1fr auto;
}

.percentage {
    color: #329e00;
}