<div class="yes-stacks">
    <div class="amount">{{amountYes() }} kaarten onthouden.<br/> 
        <span class="explainer">Kaarten die je niet hebt onthouden kan je terugplaatsen in de stapel.</span></div>
</div>
<div class="stacks">
    <div class="stack no-stack">
        <button class="amount" (click)="addBackToList(Reply.NO)">{{amountNo()}} kaarten</button>
    </div>
    <div class="stack maybe-stack">
        <button class="amount" (click)="addBackToList(Reply.MAYBE)">{{amountMaybe()}} kaarten</button>
    </div>
</div>