<div class="stacks-answered">
    <div class="stack no-stack">
        <button class="amount" (click)="addBackToList(Reply.NO)">{{amountNo()}}</button>
    </div>
    <div class="stack maybe-stack">
        <button class="amount" (click)="addBackToList(Reply.MAYBE)">{{amountMaybe()}}</button>
    </div>
    <div class="stack yes-stack">
        <button class="amount" (click)="addBackToList(Reply.YES)">{{amountYes()}}</button>
    </div>
</div>
<div class="stack total-stack">
    <span class="card-on-stack" *ngFor="let item of [].constructor(amountNoAnswer()); let i = index"></span>
    <!-- <button class="amount">{{amountNoAnswer()}}</button> -->
</div>