.yes-stacks {
  padding-bottom: var(--spacing-xl);
}

.yes-stacks .amount {
  padding: var(--spacing-xl);
  position: relative;
  font-weight: 600;
}

.explainer {
  color: #999;
}

.total-stack {
  padding: var(--spacing-xl);
  padding-bottom: 0px;

}

.stacks-answered {
  padding: var(--spacing-xl);
  display: grid;
  gap: var(--spacing-xl);
  grid-template-columns: 1fr 1fr 1fr;
}

.stack {
  position: relative;
}

.stack .amount {
  outline: none;
  border: none;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  padding: var(--spacing-xl);
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  border-radius: var(--radius-button);
}

.stack .return-button {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  background: #FFF;
  border: none;
  outline: none;
  padding: var(--spacing-xl);
  border-radius: var(--radius-button);
  box-shadow: var(--box-shadow-button);
}

.stack.no-stack .amount {
  background-color: var(--no);
  box-shadow: var(--box-shadow-button);

}

.stack.maybe-stack .amount{
  background: var(--maybe);
  box-shadow: var(--box-shadow-button);

}

.stack.yes-stack .amount {
  background: var(--yes);
  box-shadow: var(--box-shadow-button);

}
.stack.total-stack .amount {
  background: none;
  box-shadow: inset 0px 0px 0px 2px #000;

}