.yes-stacks {
  padding-bottom: var(--spacing-xl);
}

.yes-stacks .amount {
  padding: var(--spacing-xl);
  position: relative;
  font-weight: 600;
}

.explainer {
  color: #999;
}

.total-stack {
  padding: var(--spacing-xl);
  padding-bottom: 0px;
  padding-right: 21px;
  min-height: 57px;
}

.stacks-answered {
  padding: var(--spacing-xl);
  padding-bottom: 0px;
  display: grid;
  gap: var(--spacing-xl);
  grid-template-columns: 1fr 1fr 1fr;
}

.stack {
  position: relative;
}

.card-on-stack {
  display: inline-block;
  border-radius: 4px;
  margin-right: -10px;
  box-shadow: inset 0px 0px 0px 2px #515151;
  width: 20px;
  height: 15px;
  position: relative;
  background: #F3F3F3;
  overflow: hidden;
}

.card-on-stack::after {
  background: #515151;
  position: absolute;
  left: 0px;
  top: 1px;
  font-size: 1.2em;
  width: 4px;
  height: 3px;
  content: "";
}

.stack .amount {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: var(--spacing-xl);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  border-radius: var(--radius);
  color: var(--opaque-font-color);
  box-shadow: var(--box-shadow);
  background: none;
}

.stack.no-stack .amount {
  background: var(--no);

}

.stack.maybe-stack .amount{
  background: var(--maybe);

}

.stack.yes-stack .amount {
  background: var(--yes);
}
.stack.total-stack .amount {
  background: none;

}