.stacks {
  box-shadow: 0px 4px 0px 0px #000;
  margin-bottom: var(--spacing-xl);

}

.stacks .stack {
  padding-bottom: var(--spacing-xl);
  display: grid;
  grid-template-columns: 95px 1fr;
}
.stacks .stack .amount {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  position: relative;
  width: 50px;
  text-align: center;
  line-height: 55px;
  font-weight: 600;
  font-size: 1.6em;
  border-radius: var(--radius);
  box-shadow: inset 0px 0px 0px 4px #000;
}

.stack .return-button {
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  background: #FFF;
  border: none;
  outline: none;
  padding: var(--spacing-xl);
  border-radius: var(--radius-button);
  box-shadow: 0px 0px 0px 4px #000, inset 0px -4px 0px #000;
}

.stack.no-stack .amount {
  background-color: var(--no);
}

.stack.maybe-stack .amount{
  background: var(--maybe);
}

.stack.yes-stack .amount {
  background: var(--yes);
}