<main class="main">
  <div class="content">
    <app-cardlist-dialog [isOpen]="isDialogOpen()" (listSelectEvent)="handleListSelect($event)"/>
    <header class="cardListHeader" (click)="onHeaderClick()">
      <span class="menu">☰</span>
      <span>{{listName()}}</span>
      <span class="percentage">25%</span>
    </header>
    <app-card-stacks (addBackToListEvent)="addBackToListEvent($event)" [cardsAnswered]="cardListAnswered()"
      [cardsTotal]="cardList()"></app-card-stacks>
    <app-card [card]="currentCard" />
    <app-card-reply (replyEvent)="handleReply($event)" />
  </div>
</main>

<router-outlet />