.card-reply {
    padding: var(--spacing-xl);
    display: flex;
    padding-top: var(--spacing-xl);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xl);
}

.card-reply button {
    flex: 1;
}

button {
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border: none;
    outline: none;
    padding: var(--spacing-xl);
    border-radius: var(--radius-button);
    box-shadow: var(--box-shadow-button);
}

button.no {
    background: var(--no);
}

button.no::before {
    content: "\274C";
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.8em;
    left: 0px;
    height: 50px;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

button.maybe {
    background: var(--maybe);
}

button.maybe::before {
    content: "\1f914";
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.8em;
    left: 0px;
    height: 50px;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

button.yes {
    background: var(--yes);
}

button.yes::before {
    content: "\1F44D";
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.8em;
    left: 0px;
    height: 50px;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}