.card-reply {
    padding: var(--spacing-xl);
    display: flex;
    padding-top: var(--spacing-xl);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xl);
}

.card-reply button {
    flex: 1;
}

button {
    aspect-ratio: 1;
    font-size: var(--font-size-xl);
    font-weight: 600;
    text-decoration: none;
    box-shadow: inset 0px 0px 0px 2px #000, 0px 1px 0px 0px #000;
}

button.no {
    background: var(--no);
}

button.maybe {
    background: var(--maybe);
}

button.yes {
    background: var(--yes);
}